a {
	color: #333333;
}

#container {
	position: fixed;
	width: 100%;
	height: 100%;
	top: 0px;
	left: 0px;
	background-color: #333333;
}

#sidebar {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 380px;
	height: 100%;
	background-color: #ffffff;
	box-shadow: 3px 0px 5px 0 rgba(0,0,0,.5)
}

#details {
	position: absolute;
	top: 170px;
	left: 30px;
	color: #555555;
	font-family: open-sans;
}

#map {
	width: 380px;
	height: 200px;
	position: absolute;
	bottom: 0px;
	left: 0px;
	background-color: #aaaaaa;
	background-image: url(../img/map.png);
	background-repeat: no-repeat;
	background-position: 10px 10px;
}

#map img {
	position: absolute;
	top: 90px;
	left: 180px;
	margin-top: -8px;
	margin-left: -8px;
	width: 36px;
	height: 36px;
	border-radius: 18px;
}

#title-container {
	position: fixed;
	top: 0px;
	left: 0px;
	background-color: #eeeeee;
	width: 380px;
	height: 130px; 	
}

.title {
	font-family: open-sans;
	font-weight: 300;
	font-size: 35px;
	position: absolute;
	top: 50px;
	left: 15px;
	color: #222222;
}

#menu-button {
	position: fixed;
	top: 105px;
	left: 320px;
	width: 50px;
	height: 50px;
	border-radius: 25px;
	background-color: #c62828;
	cursor: pointer;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.3)
}

#menu-button:hover {
	background-color: #b71c1c;
}

#menu-button img {
	width: 30px;
	height: 30px;
	margin: 10px;
}

#tracking-button {
	position: absolute;
	left: 120px;
	bottom: 220px;
	width: 140px;
	height: 40px;
	border: 1px solid #333333;
	border-radius: 5px;
	color: #333333;
	text-align: center;
	line-height: 40px;
	font-family: open-sans;
	background: #f2f2f2;
	cursor: pointer;
}

#tracking-button:hover {
	background-color: #dddddd;
}

#data {
	position: fixed;
	top: 50%;
	left: 50%;
	height: 256px;
	margin-top: -128px;
	width: 828px;
	margin-left: -214px;
}

.frame {
	width: 256px;
	height: 256px;
	background-color: black;
	float: left;
	margin-right: 20px;
	box-shadow: 0 2px 5px 0 rgba(0,0,0,.8)
}

.download {
	position: relative;
	top: -260px;
	left: 0px;
	width: 256px;
	height: 256px;
	opacity: 0;
	transition: 0.5s;
}

.download-mask {
	background-color: black;
	opacity: 0.5;
	width: 256px;
	height: 256px;
}

.download-content {
	width: 256px;
	height: 256px;
	color: white;
	font-family: open-sans;
	font-weight: 300;
	position: relative;
	top: -200px;
	text-align: center;
	font-size: 22px;
}

.download-content span {
	font-size: 17px;	
}

.download-content a {
	text-decoration: none;
	color: #ffffff;
}

.download-content a:hover {
	text-decoration: underline;
	color: #ffffff;
}

.download:hover {
	opacity: 1;
}

.label {
	width: 256px;
	height: 50px;
	color: white;
	font-family: open-sans;
	font-weight: 300;
	text-align: center;
	margin-top: 10px; 
	font-size: 16pt;
	float: left;
	margin-right: 20px;
}

#frame-indicator {
	position: fixed;
	top: 50%;
	left: 50%;
	width: 400px;
	margin-left: -10px;
	margin-top: 190px;
	text-align: center;
	font-family: open-sans;
	font-weight: 300;
	color: white;
	font-size: 30px;
}

.button {
	width: 30px;
	height: 30px;
	position: fixed;
	top: 50%;
	left: 50%;
	margin-top: 197px;
	cursor: pointer;
}

.button img {
	width: 30px;
	height: 30px;
}

#back-button {
	margin-left: 7px;
}

#forward-button {
	margin-left: 340px;
}

#mask {
	position: fixed;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
	background-color: black;
	opacity: 0.7;
	display: none;
}

#menu {
	position: fixed;
	top: 0px;
	left: -100%;
	width: 800px;
	height: 100%;
	background-color: #eeeeee;
	-webkit-box-shadow: 10px 0px 12px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 10px 0px 12px 0px rgba(0,0,0,0.75);
	box-shadow: 10px 0px 12px 0px rgba(0,0,0,0.75);
}

#menu .title img {
	width: 40px;
	height: 40px;
	float: left;
	margin-right: 10px;
	padding-top: 5px;
	cursor: pointer;
}

#menu #table-container {
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	top: 180px;
	left: 190px;
	width: 610px;
	height: calc(100% - 180px);
}

#menu #headers {
	overflow-x: hidden;
	overflow-y: auto;
	position: absolute;
	top: 130px;
	left: 190px;
	height: 30px;
	-webkit-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.3);
	-moz-box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.3);
	box-shadow: 0px 4px 5px 0px rgba(0,0,0,0.3);
}

#menu td {
	width: 25%;
}

#menu table {
	font-family: open-sans;
	width: 610px;
}

#menu table td {
	padding: 10px;
}

#data-titles {
	height: 30px;
	line-height: 30px;
	background-color: #ffffff;
	font-weight: bold;
}

.data-row {
	cursor: pointer;
}

.data-row:hover {
	background-color: #aaaaaa;
}

#menu ul {
	position: absolute;
	top: 130px;
	left: 0px;
	width: 190px;
	background-color: #dddddd;
	margin: 0;
	padding: 0;
	font-family: open-sans;
	height: calc(100% - 130px);
	overflow-y: auto;
	overflow-x: hidden;
	z-index: 500;
}

#menu ul div {
	font-weight: 300;
	height: 40px;
	padding-left: 10px;
	font-size: 20px;
	padding-top: 15px;
}

#menu li {
	list-style-type: none;
	width: 290px;
	cursor: pointer;
	height: 30px;
	padding-left: 10px;
	line-height: 30px;
}
